/* Importa fontes do Google Fonts: Montserrat e Lemon */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lemon&display=swap');

/* Define variáveis de cores */
:root {
    --laranja-claro: #FF862A; /* Cor laranja claro para uso em todo o documento */
    --alto-contraste-fundo: #000000; /* Cores alternativas para alterar o contraste*/
    --alto-contraste-texto: #ffffff; /* Cores alternativas para alterar o contraste*/
    --alto-contraste-link: #ffd700; /* Cores alternativas para alterar o contraste*/
}

/* Estilos gerais do corpo da página */
body {
    font-size: 1rem; /* Tamanho da fonte padrão */
    font-family: 'Montserrat'; /* Fonte padrão do corpo */
}

/* Estilos para o cabeçalho */
header {
    background-color: #ffffff; /* Cor de fundo do cabeçalho */
}

/* Estilos para seções */
section {
    padding-bottom: 5rem; /* Espaçamento inferior para seções */
}

/* Estilos para links de navegação */
.nav-link {
    color: #CB6D43; /* Cor dos links de navegação */
    font-weight: 600; /* Peso da fonte dos links */
}

/* Estilos para o menu de acessibilidade */
.menu-acessibilidade {
    position: fixed; /* Fixa o menu na tela */
    top: 2rem; /* Distância do topo da tela */
    right: 20px; /* Distância da direita da tela */
    z-index: 1000; /* Garante que o menu fique acima de outros elementos */
}

/* Estilo para o seletor de contraste alternativo */
.alto-contraste{
    background-color: var(--alto-contraste-fundo);
    color: var(--alto-contraste-texto);
}

/* Indica em quais seções haverão alterações de contraste */
.alto-contraste header,
.alto-contraste footer,
.alto-contraste .formulario{
    background-color: var(--alto-contraste-fundo);
    color: var(--alto-contraste-texto);
}

/* Altera o contraste nos links de navegação do menu */
.alto-contraste .nav-link{
    color: var(--alto-contraste-link);
}

/* Opções de contraste para os outros botões */
.alto-contraste .botao-inicio,
.alto-contraste .formulario button,
.alto-contraste .btn-primary{
    background-color: var(--alto-contraste-link);
    color: var(--alto-contraste-fundo)
}

/* Opção de contraste para o fundo da seção Tropicália */ 
.alto-contraste #tropicalia {
    background: none;
}

/* Opção de contraste para a Galeria */
.alto-contraste #galeria {
    background-color: var(--alto-contraste-fundo);
}

/* /* Opção de contraste para o fundo da Galeria*/ */
.alto-contraste .fundo-galeria {
    background: none;
}

/* Estilos para o botão de rotação */
.rotacao-botao { 
    transform: rotate(-90deg); /* Rotaciona o botão em -90 graus */
    transform-origin: right center; /* Define o ponto de origem da rotação */
}

/* Estilos para as opções de acessibilidade */
.opcoes-acessibilidade {
    margin-top: 10px; /* Espaçamento superior */
    display: flex; /* Exibe as opções em linha */
    flex-direction: column; /* Organiza as opções em coluna */
}

/* Estilos para os botões dentro das opções de acessibilidade */
.opcoes-acessibilidade button {
    margin-bottom: 5px; /* Espaçamento inferior entre os botões */
}

/* Estilos para a lista de opções que estão ocultas */
.apresenta-lista {
    display: none; /* Oculta a lista por padrão */
}

/* Estilos para a seção de boas-vindas */
.inicio-fundo {
    background-image: url('img/4965007.jpg'); /* Imagem de fundo */
    background-size: cover; /* Cobre todo o espaço disponível */
    background-position: right; /* Posiciona a imagem à direita */
    border-radius: 80px; /* Bordas arredondadas */
    width: 100%; /* Largura total */
    height: 606px; /* Altura fixa */
    padding: 40px; /* Espaçamento interno */
    margin: 0 auto; /* Centraliza horizontalmente */
}

/* Estilos para a seção de início */
#inicio {
    position: relative; /* Permite posicionamento absoluto de elementos filhos */
    overflow: hidden; /* Oculta qualquer conteúdo que ultrapasse os limites */
}

/* Estilos para a imagem na seção de início */
.img-inicio {
    position: absolute; /* Posiciona a imagem de forma absoluta */
    right: 2%; /* Distância da direita */
    width: 30rem; /* Largura fixa */
    height: auto; /* Altura automática */
    max-width: 100%; /* Evita que a imagem ultrapasse o container */
    top: 45%; /* Posiciona a imagem verticalmente no meio */
    transform: translateY(-50%); /* Centraliza verticalmente */
}

/* Estilos para o conteúdo à esquerda na seção de início */
.esquerda-conteudo {
    display: flex; /* Exibe o conteúdo em linha */
    flex-direction: column; /* Organiza o conteúdo em coluna */
    align-items: flex-start; /* Alinha o conteúdo à esquerda */
    gap: 1rem; /* Espaçamento entre os elementos */
}

/* Estilos para o botão de início */
.botao-inicio {
    background-color: var(--laranja-claro); /* Cor de fundo do botão */
    border-radius: 30px; /* Bordas arredondadas */
    border: none; /* Remove a borda padrão */
    width: 14em; /* Largura fixa */
    height: 3em; /* Altura fixa */
    align-content: center; /* Centraliza o conteúdo */
}

/* Estilos para o título com sombra */
.display-4 {
    text-shadow: -5px 5px var(--laranja-claro); /* Adiciona uma sombra ao texto com a cor laranja claro */
}

/* Estilos para a seção "tropicalia" */
#tropicalia {
    position: relative; /* Permite posicionamento absoluto de elementos filhos */
    padding-top: 5rem; /* Espaçamento superior */
    margin-top: 3rem; /* Margem superior */
    margin-bottom: 3rem; /* Margem inferior */
    background: url('img/flor.png') top right no-repeat, /* Imagem de fundo à direita */
                url('img/flor-esquerda.png') bottom left no-repeat; /* Imagem de fundo à esquerda */
    background-size: 180px 180px; /* Tamanho das imagens de fundo */
    text-align: justify; /* Justifica o texto */
}

/* Estilos para o container dentro da seção "tropicalia" */
#tropicalia .container {
    display: flex; /* Exibe o conteúdo em linha */
    align-items: center; /* Alinha verticalmente ao centro */
    justify-content: center; /* Centraliza horizontalmente */
    position: relative; /* Permite posicionamento absoluto de elementos filhos */
    z-index: 1; /* Garante que o conteúdo fique acima das imagens de fundo */
}

/* Estilos para os títulos h2 */
h2 {
    font-family: 'Lemon', serif; /* Fonte serifada para os títulos */
    font-size: 2.5em; /* Tamanho da fonte */
    font-style: normal; /* Estilo normal da fonte */
    color: var(--laranja-claro); /* Cor do texto usando a variável laranja claro */
}

/* Estilos para a seção "galeria" */
#galeria {
    background-color: #FAF4F4; /* Cor de fundo da galeria */
}

/* Estilos para o fundo da galeria */
.fundo-galeria {
    background: url('img/flor-bottom-direita.png') bottom right no-repeat; /* Imagem de fundo à direita */
    background-size: 180px 180px; /* Tamanho da imagem de fundo */
}

/* Estilos para a seção de contato */
#contato {
    background-image: url('img/4965007.jpg'); /* Imagem de fundo da seção de contato */
    background-size: cover; /* Cobre todo o espaço disponível */
    padding: 4rem 0; /* Espaçamento interno para a seção de contato */
}

/* Estilos para o formulário */
.formulario {
    background-color: #ffffff; /* Cor de fundo do formulário */
    padding: 2rem; /* Espaçamento interno dentro do formulário */
    border-radius: 10px; /* Bordas arredondadas para o formulário */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra suave para destacar o formulário */
    font-weight: bold; /* Peso da fonte em negrito */
}

/* Estilos para os botões dentro do formulário */
.formulario button {
    background-color: #CB6D43; /* Cor de fundo dos botões do formulário */
    border: none; /* Remove a borda padrão */
    font-weight: bold; /* Peso da fonte em negrito */
}

/* Estilos para os campos de entrada do formulário */
.form-control {
    background-color: #F1EDEF; /* Cor de fundo dos campos de entrada */
}